@import './css/terminal.css';
@import './css/lesson.css';
@import './css/lessonDetail.css';
@import './css/instructionWindow.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: #fff;
}

div {
  white-space: pre-wrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Splash nav */

.splashNav {
  width: 100%;
  height: 70px;
  padding: 0 40px;
  background-color: #235390;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 75px;
}

.headerMenu {
  height: 60px;
  margin-right: 80px;
  margin-top: 5px;
  cursor: pointer;
}

/* Splash body */

.splashBody {
  width: 100%;
  background-color: #235390;
}

.splashRegisterContainer {
  height: 600px;
  background-image: url("star-pattern.svg");
  display: flex;
  padding: 40px;
  align-items: center;
}

@media (max-width: 1065px) {
  .splashRegisterContainer {
    flex-direction: column;
    padding: 80px 12px 12px 12px;
  }
}

.planet {
  height: 360px;
  min-width: 360px;
  /* position: relative;
  top: 140px; */
}

@media (max-width: 1065px) {
  .planet {
    height: 192px;
    min-width: 192px;
    width: 192px;
  }
}

.splashRegister {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 48px;
}

@media (max-width: 1065px) {
  .splashRegister {
    margin: 12px auto 0;
    max-width: 600px;
    width: 100%;
  }
}

.splashRegister button {
  width: 315px;
  padding: 16px 24px;
  border-radius: 16px;
  outline: none;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  filter: brightness(105%);
}

button:active {
  position: relative;
  top: 4px;
  border-bottom-color: transparent;
}

.signupButton {
  background-color: rgb(113, 209, 4);
  border-width: 0 0 4px;
  border-color: #77dd03;
}

.signinButton {
  margin-top: 12px;
  border-width: 2px 2px 4px;
  background-color: #235390;
  border-color: rgba(0,0,0,.25);
}

.dropdownButton {
  position: relative;
}

.headerDropdown {
  position: absolute;
  right: 70px;
  width: 280px;
  border: 2px solid #e5e5e5;
  border-radius: 15px;
  background-color: #fff;
  color: #3c3c3c;
  font-size: 20px;
}

.dropdownTriangle {
  position: relative;
  bottom: 12px;
  left: 230px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #fff;
}

.headerDropdown ul {
  width: 100%;
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.headerDropdown ul li {
  padding: 12px 24px;
  font-weight: 700;
  color: #4b4b4b;
  cursor: pointer;
}

.dropdownItem button {
  background-color: #fff;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  border: none;
  outline: none;
  color: #4b4b4b;
  cursor: pointer;
  text-align: left;
}

.dropdownItem:first-child {
  padding-top: 0;
}

.dropdownItem:not(:first-child) {
  border-top: 2px solid #e5e5e5;
}

.splashPromotion {
  height: 200px;
  background-color: white;
  text-align: center;
}

/* Splash footer */
.splashFooter {
  /* height: 1290px; */
  padding: 60px;
  background-color: #235390;
  background-image: url("star-pattern.svg");
  text-align: center;
}

.footerLinks {
  text-align: left;
  border-top: 2px solid hsla(0,0%,100%,.2);
}

.footerLinks h4 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.footerLinks a {
  padding-right: 24px;
  padding-top: 6px;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  opacity: .5;
}

.splashFooter .signupButton {
  min-width: 150px;
  padding: 16px 24px;
  border-radius: 16px;
  outline: none;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 100px;
  background-color: rgb(113, 209, 4);
  border-width: 0 0 4px;
  border-color: #77dd03;
}

/* User Auth Modals */

.authModal {
  position: fixed;
  left: 10%;
  top: 10%;
  width: 70%;
  z-index: 3;
  padding: 30px;
  background-color: #fff;
  border-radius: 15px;
}

.closeButton {
  position: absolute;
  left: 97.5%;
  top: -17px;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  border: 2px solid #e5e5e5;
}

.closeButton:hover {
  opacity: .8;
}

.authModal h3 {
  margin: 10px 130px 10px 0;
  font-size: 26px;
}

.authInputContainer {
  width: 100%;
  margin-bottom: 20px;
  border: 2px solid #e5e5e5;
  background: #f0f0f0;
  border-radius: 10px;
  font-size: 16px;
}

.authInput {
  display: flex;
  flex-direction: column;
  width: 95%;
  padding: 14px 20px 14px 10px;
  border: none;
  outline: none;
  background: none;
}

.authModal button {
  width: 100%;
  padding: 16px 24px;
  border-radius: 16px;
  background-color: #1899d6;
  outline: none;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}

.disclaimer {
  margin-bottom: 20px;
  color: #afafaf;
  font-size: 14px;
}

.switchAuth {
  display: flex;
}

.switchAuthButton {
  border: none;
  outline: none;
  width: 80px !important;
  padding: 0 !important;
  background-color: transparent !important;
  color: #1899d6 !important;
  font-size: 14px !important;
}