.lesson-list-page{
  display: flex;
  justify-content: center;
}

.lesson-list {
  text-decoration: none;
  width: 50vw;
  border: 1px solid green;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 810px) {
  .lesson-list {
    width: 70vw;
    margin-left: 10%;
  }
}
@media (max-width: 600px) {
  .lesson-list {
    width: 100%;
    margin-left: 0;
    border-radius: 0;
  }
}
.courseTitle {
  text-align: center;
  color: #2f3535;
  font-size: 35px;
  font-weight: 1000;
  font-family: din-round, sans-serif;
}
.lesson-list li {
  font-size: 30px;
  list-style-type: none;
  width: 25vw;
  height: 15vw;
  display: flex;
  align-items: center;
}
.lesson-list li a {
  width: 100%;
  height: 100%;
}

/* unvisited link */
.lesson-list li a:link {
  color: rgb(67, 197, 197);
  text-decoration: none;
}
/* visited link */
.lesson-list li a:visited {
  color: rgb(67, 197, 197);
}
/* mouse over link */
.lesson-list li a:hover {
  color: blue;
}
/* selected link */
.lesson-list li a:active {
  color: gold;
}
.line {
  width: 0px;
  height: 9.3vw;
  position: relative;
  bottom: 7.4vw;
  right: 4.7vw;
  border-left: 1px solid grey;
}

.lesson-list li:first-child div[class="line"] {
  display: none;
}
.lesson-link{
  display: flex;
  justify-content: flex-start; 
  width: 100%;
  height: 100%;
  align-items: center;
}

.question-title {
  display: flex;
  width: 15vw;
  height: 5ww;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  font-size: 2.5vw;
}

.ball {
  width: 6vw;
  height: 6vw;
  padding-left: 1vw;
  margin: 1vmin;
  transform-style: preserve-3d;
  transform: rotateX(-5deg);
}

@keyframes rot {
  0% {
    transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  }

  100% {
    transform: rotateY(360deg) rotateX(0deg) rotateZ(0deg);
  }
}

.layer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 6vw;
  height: 6vw;
}

.moving {
  transform-style: preserve-3d;
  transform-origin: 49vmin 49vmin;
  animation: rot 10s linear infinite;
}



.clip {
  border-radius: 50%;
  overflow: hidden;
  transform: translateZ(-0vmin);
}

@keyframes highlightanim {
  0.00% {
    left: -150.00%;
    top: -178.00%
  }

  12.50% {
    left: -117.67%;
    top: -179.64%
  }

  25.00% {
    left: -97.69%;
    top: -195.87%
  }

  28.75% {
    left: -95.00%;
    top: -207.09%
  }

  32.50% {
    left: -97.69%;
    top: -220.70%
  }

  40.00% {
    left: -117.67%;
    top: -240.01%
  }

  47.50% {
    left: -150.00%;
    top: -247.50%
  }

  55.00% {
    left: -182.33%;
    top: -240.01%
  }

  62.50% {
    left: -202.31%;
    top: -220.70%
  }

  68.75% {
    left: -205.00%;
    top: -207.09%
  }

  75.00% {
    left: -202.31%;
    top: -195.87%
  }

  87.50% {
    left: -182.33%;
    top: -179.64%
  }

  100.00% {
    left: -150.00%;
    top: -178.00%
  }
}

.shade {
  position: relative;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(at 10% 10%, white, rgb(102, 192, 129), rgb(223, 230, 218), blue);
}

.clip:hover{
  animation: expand 0.75s linear 2;
}
.shade:hover{
  background: radial-gradient(at 10% 10%, white, rgb(9, 161, 24), rgb(195, 204, 189), blue);
}
@keyframes expand {
  0.00% {
    transform: scale(1,1);
  }
  33.33%{
    transform: matrix(1.1, 0.05, 0.05, 1.1, 0, 0)
  }
  66.66% {
    transform: matrix(1.1, -0.05, -0.05, 1.1, 0, 0)
  }
  100%{
    transform: scale(1,1);
  }
}
